
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div align="center">
        <table style="height: 469px; width: 254px">
            <tr>
                <td>
                    <a href="@Url.Action("CountryForm", "Basic")">
                        <input type="button" name="btnCountry" value="Country Form" id="btnCountry" style="height: 31px; width: 116px;" />
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="@Url.Action("StateForm", "Basic")">
                        <input type="button" name="btnState" value="State Form" id="btnState" style="height: 31px; width: 116px;" />
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="@Url.Action("CityForm", "Basic")">
                        <input type="button" name="btnCity" value="City Form" id="btnCity" style="height: 31px; width: 116px;" />
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="@Url.Action("CustomerForm", "Customer")">
                        <input type="button" name="btnCustomer" value="Customer Form" id="btnCustomer" style="height: 31px; width: 116px;" />
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="@Url.Action("Index", "Product")">
                        <input type="button" name="btnProduct" value="Product Form" id="btnProduct" style="height: 31px; width: 116px;" />
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="@Url.Action("OrderForm", "Order")">
                        <input type="button" name="btnOrder" value="Order Form" id="btnOrder" style="height: 31px; width: 116px;" />
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="@Url.Action("BillList", "Order")">
                        <input type="button" name="btnBill" value="Bill Form" id="btnBill" style="height: 31px; width: 116px;" />
                    </a>
                </td>
            </tr>
        </table>
    </div>

</body>
</html>
